<app-header></app-header>
<div class="container">
  <h2>Form Details</h2>
  <div class="row">
    <div class="col-md-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
              <label for="fname">First Name:</label>
              <input type="email"
                     class="form-control"
                     id="fname"
                     placeholder="First Name..."
                     ngModel
                     name="fname"
                     required>
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
              <label for="lname">Last Name:</label>
              <input type="text"
                     class="form-control"
                     id="lname"
                     placeholder="Last Name..."
                     ngModel
                     name="lname"
                     required>
            </div>
          </div>

          <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
              <label for="email">Email:</label>
              <input type="email"
                     id="email"
                     class="form-control"
                     ngModel
                     name="email"
                     required
                     email
                     #email="ngModel"
                     placeholder="Email id...">
              <span class="help-block" *ngIf="!email.valid && email.touched">please enter a valid email!</span>
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
              <label for="pass">Password:</label>
              <input type="password"
                     class="form-control"
                     id="pass"
                     placeholder="Password..."
                     ngModel
                     name="password"
                     required>
            </div>
          </div>

          <button class="btn btn-outline-secondary" type="button">Suggest an Username</button>
        </div>
        <div class="form-group">
          <label for="secret">Secret Question</label>
          <select
            id="secret"
            class="form-control"
            ngModel
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
          <div class="form-group purple-border">
            <label for="meassage">Message</label>
            <textarea
              class="form-control"
              id="meassage"
              rows="3"
              ngModel
              name="message"
              required
              ></textarea>
            <!--#textarea="ngModel"-->
            <!--<span class="help-block">please enter a valid message!</span>-->
          </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
<app-footer></app-footer>

